class Rotation
{
	type = "rotation";
	memory = 1;
	minValue = 0;
	maxValue = 1;
	angle0 = 0;
	angle1 = 1;
};
class CfgSkeletons
{
	class skeleton_dingo_car {
		isDiscrete = 1;
		skeletonInherit="";
		skeletonBones[]=
		{
			"drivewheel","",

			"wheel_1_1_damper_land","",
			"wheel_1_2_damper_land","",

			"wheel_2_1_damper_land","",
			"wheel_2_2_damper_land","",

			"wheel_1_1_damper","wheel_1_1_damper_land",
			"wheel_1_2_damper","wheel_1_2_damper_land",

			"wheel_2_1_damper","wheel_2_1_damper_land",
			"wheel_2_2_damper","wheel_2_2_damper_land",


			"wheel_1_1_steer","wheel_1_1_damper",
			"wheel_1_2_steer","wheel_1_2_damper",


			"wheel_2_1_steer","wheel_2_1_damper",
			"wheel_2_2_steer","wheel_2_2_damper",

			"wheel_1_1","wheel_1_1_steer",
			"wheel_1_2","wheel_1_2_steer",

			"wheel_2_1","wheel_2_1_steer",
			"wheel_2_2","wheel_2_2_steer",

			"wheel_1_1_unhide","wheel_1_1",
			"wheel_1_2_unhide","wheel_1_2",

			"wheel_2_1_unhide","wheel_2_1",
			"wheel_2_2_unhide","wheel_2_2",

			"wheel_1_1_hide","wheel_1_1",
			"wheel_1_2_hide","wheel_1_2",

			"wheel_2_1_hide","wheel_2_1",
			"wheel_2_2_hide","wheel_2_2",

			"otocvez","",
			"otochlaven","otocvez",
			"zasleh", "otochlaven",
			"barrel_rot","otochlaven",
			"recoilhlaven", "otochlaven",

			"damageHide","",
			// "damageVez","mainturret",
			// "damageHlaven","maingun",

			// "ukaz_rychlo","",
			// "ukaz_rychlo2","",
			// "ukaz_rpm","",
			// "mph","",
			// "rpm","",
			// "fuel","",
			// "fuel_1","",
			// "fuel_01","",
			// "fuel_2","",
			// "fuel_3","",
			// "prop_01","",
			// "prop_02","",
			// "prop_2","",
			// "prop_1","",
			"glass1","damageHide",
			"glass2","damageHide",
			"glass3","damageHide",
			"glass4","damageHide",
			"glass5","damageHide",

			"reverse_light","",
			"daylights","damageHide",
			"hideUnitAffil","",
			"hideAllDecal","",
			"hideRollCage",""
		};	
	};
};

class CfgModels
{
	class AnimationTypes;	
	class dingo_car
	{
		htMin = 60;		// Minimum half-cooling time (in seconds)
		htMax = 180;	// Maximum half-cooling time (in seconds)
		afMax = 100;	// Maximum temperature in case the model is alive (in celsius)
		mfMax = 8;		// Maximum temperature when the model is moving (in celsius)
		mFact = 1;		// Metabolism factor - number from interval <0, 1> (0 - metabolism has no influence, 1 - metabolism has full influence (no other temperature source will be considered)).
		tBody = 150;	// Metabolism temperature of the model (in celsius)

		skeletonName="skeleton_dingo_car";
		sectionsInherit = "";
		sections[]= {
			"cislo",
			"grupa",
			"side",
			"sektor",
			"clan",
			"clan_sign",
			"podsvit pristroju",
			"poskozeni",
			"L svetlo",
			"P svetlo",
			"zasleh",
			"ammo",
			"zadni svetlo",
			"brzdove svetlo",
			"spz",
			"motor",
			"Light_R",
			"Light_L",
			"glass1",
			"glass2",
			"glass3",
			"glass4",
			"glass5",
			"glass6",
			"otocvez",
			"otochlaven",
			"barrel_rot",		
			"Camo1",
			"Camo2",
			"Camo3",
			"Camo4",
			"Camo5",
			"Camo6",
			"Camo7",
			"Camo8",
			"Camo9",
			"Camo10",
			"Camo11",
			"body",
			"karoserie",
			"palivo",
			"hideUnitAffil",
			"hideAllDecal",
			"hideRollCage"
			
		};
		class Animations
		{
			// destruct START
			class damageHide
			{
				type="hide";
				source="damage";
				selection="damageHide";
				hideValue=1.0;
			};
			class damageHideVez: damageHide { selection="mainturret"; };
			class damageHideHlaven: damageHide { selection="maingun"; };

			class damageHidedoor1: damageHide { selection="door1"; };
			class damageHidedoor2: damageHide { selection="door2"; };

			//Component hide
			class hideUnitAffilSelect
			{
				type="hide";
				selection="hideUnitAffil";
				source="hideUnitAffilSelect";
				minValue = 0; 
				maxValue = 1; 
				hidevalue = 1;
			};
			class hideAllDecalSelect
			{
				type="hide";
				selection="hideAllDecal";
				source="hideAllDecalSelect";
				minValue = 0;
				maxValue = 1;
				hidevalue = 1;
			};
			class hideRollCageSelect {
				type="hide";
				selection="hideRollCage";
				source="hideRollCageSelect";
				minValue = 0;
				maxValue = 1;
				hidevalue = 1;
			};

			class hideWhateverthefuckSelect {
				type="hide";
				selection="hideWhateverthefuck";
				source="hideWhateverthefuckSelect";
				minValue = 0;
				maxValue = 1;
				hidevalue = 1;
			};

			// Wheels START
			// Wheels Complete Destruct START
			class wheel_1_1_destruct
			{
				type="hide";
				selection="wheel_1_1_hide";
				source="HitRFWheel";
				minValue = 0; // upravit na 0.99
				maxValue = 1; // upravit na 1.0
				hidevalue = 0.99999;
			};
			class wheel_1_2_destruct: wheel_1_1_destruct { source="HitRBWheel"; selection="wheel_1_2_hide"; };
			class wheel_2_1_destruct: wheel_1_1_destruct { source="HitLFWheel"; selection="wheel_2_1_hide"; };
			class wheel_2_2_destruct: wheel_1_1_destruct { source="HitLBWheel"; selection="wheel_2_2_hide"; };

			class wheel_1_1_destruct_unhide
			{
				type="hide";
				selection="wheel_1_1_unhide";
				source="HitRFWheel";
				minValue = 0; 
				maxValue = 1; 
				hidevalue = 0.00000;
				UnHidevalue = 1.00000;
			};
			class wheel_1_2_destruct_unhide: wheel_1_1_destruct_unhide {source="HitRBWheel";selection="wheel_1_2_unhide";};
			class wheel_2_1_destruct_unhide: wheel_1_1_destruct_unhide {source="HitLFWheel";selection="wheel_2_1_unhide";};
			class wheel_2_2_destruct_unhide: wheel_1_1_destruct_unhide {source="HitLBWheel";selection="wheel_2_2_unhide";};

			// Wheels Complete Destruct END

			#define DamageOffset 0.2
			// Wheels Damage START
			class wheel_1_1_Damage: wheel_1_1_destruct
			{
				type="translation";
				axis="Basic_Damper_Destruct_Axis";
				memory=1;
				selection="wheel_1_1_damper";
				source="HitRFWheel";
				minValue = 0.0;
				maxValue = 1;
				offset0 = 0;
				offset1 = DamageOffset;
			};
			class wheel_1_2_Damage: wheel_1_1_Damage {source="HitRBWheel"; selection="wheel_1_2_damper"; offset1=0.18000001; };
			class wheel_2_1_Damage: wheel_1_1_Damage {source="HitLFWheel"; selection="wheel_2_1_damper"; offset1=0.18000001; };
			class wheel_2_2_Damage: wheel_1_1_Damage {source="HitLBWheel"; selection="wheel_2_2_damper"; offset1=0.18000001; };

			class wheel_1_1_Damper_Damage_BackAnim: wheel_1_1_Damage  { selection="wheel_1_1_damper"; offset1=-0.18000001; };
			class wheel_1_2_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim { source="HitRBWheel";selection="wheel_1_2_damper"; offset1=-0.18000001; };
			class wheel_2_1_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim { source="HitLFWheel";selection="wheel_2_1_damper"; offset1=-0.18000001; };
			class wheel_2_2_Damper_Damage_BackAnim: wheel_1_1_Damper_Damage_BackAnim { source="HitLBWheel";selection="wheel_2_2_damper"; offset1=-0.18000001; };

			// Wheels Damage END
			// Wheels END

				//Glass Damage START
				class Glass1_destruct
				{
					type="hide";
					selection="glass1";
					source="HitGlass1";
					minValue = 0; 
					maxValue = 1; 
					hidevalue = 0.99999;
				};
				class Glass2_destruct: Glass1_destruct {selection="glass2";source="HitGlass2";}; // Inherits from the the glass 1, only the selection and the source will be changed
				class Glass3_destruct: Glass1_destruct {selection="glass3";source="HitGlass3";};
				class Glass4_destruct: Glass1_destruct {selection="glass4";source="HitGlass4";};
				class Glass5_destruct: Glass1_destruct {selection="glass5";source="HitGlass5";};
				class Glass6_destruct: Glass1_destruct {selection="glass6";source="HitGlass6";};
				//Glass Damage END

			// destruct END
			class Fuel: Rotation
			{
				source="fuel";
				selection="fuel";
				axis="fuel_axis";
				maxValue=1;
				memory=1;
				angle0="rad -110";
				angle1=0;
			};
			class IndicatorSpeed: Rotation
			{
				source="speed";
				selection="mph";
				axis="mph_axis";
				memory=1;
				maxValue=38.900002;
				angle1="rad -265";
			};
			class IndicatorFuel: Rotation
			{
				type="rotation";
				source="fuel";
				selection="fuel_1";
				axis="fuel_1_axis";
				memory=1;
				minValue=0.000000;
				maxValue=1.000000;
				angle0=-0.087266;
				angle1=-1.658063;
			};
			class IndicatorRPM: Rotation
			{
				source="rpm";
				selection="rpm";
				axis="rpm_axis";
				memory=1;
				angle1="rad 80";
			};
			class DrivingWheel: Rotation
			{
				type="rotation";
				source="drivingWheel";
				selection="drivewheel";
				axis="drivewheel_axis";
				memory=1;
				minValue=-1;
				maxValue=1;
				angle0="rad 70";
				angle1="rad -70";
			};
			class Steering_1_1
			{
				type="rotationY";
				source="drivingWheel";
				selection="wheel_1_1_steer";
				axis="wheel_1_1_steering_axis";
				memory=1;
				minValue="rad -45";
				maxValue="rad +30";
				angle0=0.30;
				angle1=-0.30;
			};
			class Steering_2_1: Steering_1_1 { selection="wheel_2_1_steer"; axis="wheel_2_1_steering_axis"; };
			class Wheel_1_1
			{
				type="rotationX";
				source="wheel";
				selection="wheel_1_1";
				axis="wheel_1_1_axis";
				memory=1;
				sourceAddress="loop";
				minValue=0;
				maxValue=1;
				angle0=0;
				angle1="rad -360";
			};
			class wheel_2_1: Wheel_1_1 { selection="wheel_2_1"; axis="wheel_2_1_axis"; };
			class wheel_1_2: Wheel_1_1 { selection="wheel_1_2"; axis="wheel_1_2_axis"; };
			class Wheel_2_2: Wheel_1_1 { selection="wheel_2_2"; axis="wheel_2_2_axis"; };
			class Wheel_1_1_Damper {
				type="translation";
				source="damper";
				selection="wheel_1_1_damper_land";
				axis="posun wheel_1_1";
				animPeriod = 1;
				minValue="-0.3";
				maxValue="1";
				offset0= "1.1";
				offset1= "-0.5";
				memory=1;
			};
			class wheel_2_1_Damper: Wheel_1_1_Damper { selection="wheel_2_1_damper_land"; axis="posun wheel_2_1"; };
			class wheel_1_2_Damper: Wheel_1_1_Damper {
				type="Rotation";
				source="damper";
				selection="wheel_1_2_damper_land";
				axis="posun wheel_1_2";
				minValue=0;
				maxValue=1;
				angle1="-(rad 0.5)";
				angle0="(rad 11)";	
				memory = 1;
			};
			class Wheel_2_2_Damper: wheel_1_2_Damper { selection="wheel_2_2_damper_land"; axis="posun wheel_2_2"; };
			class reverse_light {
				type="hide";
				selection="reverse_light";
				sourceAddress="clamp";
				source="Gear";
				minValue = -1;
				maxValue = 0;
				hideValue = 0.2;	
			};
				
			
		};
	};
	class dingo: dingo_car{};
	class dingoTroop: dingo_car{};
	class dingoMed: dingo_car{};
	class dingoRCWS_minigun: dingo_car{
		class Animations: Animations {
			class mainTurret {
				type = "rotationY";
				source = "mainTurret";
				selection = "otocvez";
				axis = "osaveze";
				sourceAddress = "clamp";
				minPhase = -6.283185;
				maxPhase = 6.283185;
				minValue = -6.283185;
				maxValue = 6.283185;
				memory = 1;
				angle0 = -6.283185;
				angle1 = 6.283185;
			};
			class mainGun {
				type = "rotationX";
				source = "mainGun";
				selection = "otochlaven";
				axis = "osahlavne";
				memory = 1;
				angle0 = -0.35;
				angle1 = 1.05;
				minValue = -1;
                maxValue = 1;
			};
			class barrelRotation {
				type = "rotation";
				selection = "barrel_rot";
				axis = "barrel_rot_axis";
				sourceAddress = "loop";
				source = "barrelRotation";
				memory = 1;
				minValue = 0;
				maxValue = 7;
				angle0 = "rad 0";
				angle1 = "rad 20556";
			};
			class MuzzleFlashROT {
				type = "rotation";
				source = "zaslehRot";
				selection = "zasleh";
				axis = "zasleh_rot_axis";
				sourceAddress = "loop";
				// centerFirstVertex = 1;
				minValue = 0;
				maxValue = 4;
				angle0 = "rad 0";
  				angle1 = "rad 360";
			};
			class zaslehHide {
				type="hide";
				selection="zasleh";
				source = "reload";
				minValue = 0; 
				maxValue = 1; 
				hidevalue = 0.5;
				UnHidevalue = 0;
			};
		};
	};
};
